@import 'hamburger';

.header {
    background-color: $color-gray-nero_dark;
    color: $color-white;

    > .container {
        align-items: center;
        display: flex;
        padding-bottom: 9px;
        padding-top: 9px;
        position: relative;
    }

    .home-link {
        align-items: center;
        display: inline-flex;
        padding-right: 16px;

        &:not(:hover) {
            color: $color-white;
        }

        &:hover {
            svg path {
                fill: $active-color;
            }
        }

        svg {
            box-sizing: content-box;
            padding-bottom: 8px;
            padding-right: 8px;
            padding-top: 8px;
        }

        .text {
            font-weight: $font-weight__heavier;
        }
    }

    .header-title {
        @include absolute-center();
        @include font-size(16);
        font-weight: $font-weight__bold;
        text-align: center;
    }

    .user-block {
        margin-left: auto;
        padding-left: 16px;
    }

    .user-icon {
        @include font-size(12);
        align-items: center;
        background-color: $color-white;
        border-radius: 50%;
        color: $color-gray-nero_dark;
        display: inline-flex;
        height: 24px;
        justify-content: center;
        text-transform: capitalize;
        width: 24px;

        &:hover {
            cursor: pointer;
        }
    }
}

/*
  Mobile
  _____________________________________________
*/

@include media-width('max', $screen_m) {
    .header {
        padding-bottom: 52px;

        .container {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 30;
            background-color: $color-gray-nero_dark;
        }

        .home-link {
            .text {
                display: none;
            }
        }

        .user-block {
            .full-name {
                display: none;
            }
        }
    }
}

/*
  Desktop
  _____________________________________________
*/
@include media-width('min', $screen_m) {
    .header {
        .user-block {
            .full-name {
                display: inline-block;
                padding-right: 16px;
            }
        }
    }
}
