body {
    background-color: $color-white;

    footer {
        margin-top: auto;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-layout-width;
}

.main-content {
    padding-bottom: 40px;
}

/*
  Mobile
  _____________________________________________
*/
@include media-width('max', $screen_m) {
    .mobile-hidden-m {
        @include visually-hidden();
    }
}

@include media-width('max', $screen_l) {
    .container {
        padding-left: $mobile-layout-space;
        padding-right: $mobile-layout-space;
    }

    .mobile-hidden-l {
        @include visually-hidden();
    }

    .layout-sidebar-left {
        .sidebar,
        .column-main {
            margin-bottom: 32px;
        }
    }
}

/*
  Desktop
  _____________________________________________
*/
@include media-width('min', $screen_m) {
    .desktop-hidden-m {
        @include visually-hidden();
    }
}

@include media-width('min', $screen_l) {
    .container {
        padding-left: $desktop-layout-space;
        padding-right: $desktop-layout-space;
    }

    .desktop-hidden-l {
        @include visually-hidden();
    }

    .layout-sidebar-left {
        display: flex;

        .sidebar {
            width: 25%;
        }

        .column-main {
            margin-right: 20px;
            width: 75%;
        }

        .sidebar,
        .column-main {
            margin-bottom: 40px;
        }
    }
}
