$color-red-cardinal: #d11c32;
$color-brown: #865103;
$color-blue-alice: #edf4f7;
$color-blue-orient: #1c5c7b;
$color-green-tranquil: #e4f0ee;
$color-green-jagged_ice: #d0e4e1;
$color-green-juniper: #6e9b95;
$color-green-elm: #1e8072;
$color-green-genoa: #32736a;
$color-green-eden: #20554e;
$color-green-dark_green: #0b382b;
$color-gray-whisper: #ededed;
$color-gray-gainsboro: #dedede;
$color-gray-very_light: #cccccc;
$color-gray-silver_dark: #bababa;
$color-gray-silver: #c5c5c5;
$color-gray: #878787;
$color-gray-night_rider: #323232;
$color-gray-nero: #262626;
$color-gray-nero_dark: #1f1f1f;
$color-black: #000000;
$color-white-snow: #fcfcfc;
$color-white: #ffffff;

$text_color: $color-black;
$active-color: $color-green-eden;
$form-error-color: $color-red-cardinal;
