.form-add-new {
    height: 100%;

    .quick-add {
        margin-bottom: 32px;

        h3 {
            margin-bottom: 16px;
        }

        .toolbar {
            display: flex;
            justify-content: space-between;
            margin-right: -16px;
            overflow: hidden;
        }
    }

    .info-block {
        @include font-size(12);
        color: $color-gray-silver_dark;

        svg {
            height: 24px;
            margin-bottom: 12px;
            width: 24px;

            path {
                fill: $color-gray-silver_dark;
            }
        }

        .type {
            display: block;
            font-weight: $font-weight__bold;
            margin-bottom: 4px;
        }
    }

    .fieldset {
        h3 {
            padding-bottom: 16px;
        }
    }
}

/*
  Mobile
  _____________________________________________
*/
@include media-width('max', $screen_m) {
    .form-add-new {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: $mobile-layout-space;

        .left-column {
            overflow-x: hidden;
            overflow-y: auto;

            h2 {
                padding-bottom: 24px;
            }
        }

        .quick-add {
            .toolbar {
                margin-right: -$mobile-layout-space;
            }

            [class*='button'] {
                margin-right: $mobile-layout-space;
                width: calc(50% - #{$mobile-layout-space});
            }
        }

        .right-column {
            margin-top: auto;
        }

        .info-block,
        .dropdown {
            display: none;
        }

        .bottom-section {
            box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
            margin-left: -$mobile-layout-space;
            margin-right: -$mobile-layout-space;
            padding-left: $mobile-layout-space;
            padding-right: $mobile-layout-space;
            padding-top: 16px;

            .checkbox-field {
                text-align: center;
            }
        }

        .actions-toolbar {
            flex-wrap: nowrap;

            > * + * {
                margin-left: 20px;
                margin-top: 0;
            }
        }
    }
}

/*
  Desktop
  _____________________________________________
*/
@include media-width('min', $screen_m) {
    .form-add-new {
        display: flex;
        max-height: 100%;
        overflow: hidden;
        padding: 0 32px;

        .left-column {
            overflow-x: hidden;
            overflow-y: auto;
            padding-right: 16px;
            width: 59%;

            h2 {
                padding-top: 32px;
            }
        }

        .right-column {
            display: inline-flex;
            flex-direction: column;
            padding-bottom: 32px;
            padding-left: 16px;
            padding-top: 32px;
            width: 41%;
        }

        .quick-add {
            .toolbar {
                margin-right: -24px;
            }

            [class*='button'] {
                margin-right: 24px;
                width: calc(50% - 24px);
            }
        }

        .bottom-section {
            margin-top: auto;
        }

        .actions-toolbar {
            margin-top: 24px;

            button {
                fill: none;
            }
        }
    }
}
