.log-in-block {
    text-align: center;

    .actions-toolbar {
        margin-top: 40px;
    }

    .sign-up-text {
        .text,
        .link {
            @include font-size(16);
            font-weight: $font-weight__heavier;
        }

        .link {
            text-decoration: underline;
        }
    }
}

.head-block {
    .logo {
        margin-bottom: 24px;
    }
}

/*
  Mobile
  _____________________________________________
*/
@include media-width('max', $screen_xs) {
    .log-in-page {
        align-items: center;
        display: flex;
        flex-grow: 1;
    }

    .log-in-block {
        flex-grow: 1;
        padding: 30px 38px;
        width: 100%;

        .sign-up-text {
            margin-top: 64px;
        }
    }
}

/*
  Desktop
  _____________________________________________
*/
@include media-width('min', $screen_xs) {
    .log-in-page {
        align-items: center;
        background-color: $color-gray-nero;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    .log-in-block {
        background-color: $color-white;
        border: 1px solid $color-gray-gainsboro;
        border-radius: 8px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.4);
        margin: $desktop-layout-space $desktop-layout-space 60px;
        padding: 30px;
        position: relative;
        width: 364px;

        .sign-up-text {
            bottom: -40px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 100%);
            width: 100%;

            .text,
            .link:not(:hover) {
                color: $color-white;
            }
        }
    }

    .head-block {
        margin-bottom: 50px;

        .logo {
            margin-top: 8px;
        }

        .text {
            @include font-size(16);
            color: $color-gray-silver;
        }
    }
}
