@import 'card';
@import 'column';
@import 'column-head';

.card-selection {
    .columns-wrapper {
        display: flex;
    }
}

/*
  Mobile
  _____________________________________________
*/
@include media-width('max', $screen_m) {
    .card-selection {
        margin-right: -$mobile-layout-space;
        max-width: calc(100vw - 1px - #{$mobile-layout-space});
        overflow: hidden;

        .columns-wrapper {
            overflow: auto;
        }
    }
}
