@import '../../../../../assets/styles/base';

.quickAdd {
    margin-bottom: 32px;

    h3 {
        margin-bottom: 16px;
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-right: -16px;
    overflow: hidden;
}

.fieldset {
    h3 {
        padding-bottom: 16px;
    }
}

.buttonWhite {
    @include buttonWhite();
}

//
//  Mobile
//  _____________________________________________
@include media-width('max', $screen_m) {
    .leftColumn {
        overflow-x: hidden;
        overflow-y: auto;

        h2 {
            padding-bottom: 24px;
        }
    }

    .quickAdd {
        [class*='button'] {
            margin-right: $mobile-layout-space;
            width: calc(50% - #{$mobile-layout-space});
        }
    }

    .toolbar {
        margin-right: -$mobile-layout-space;
    }

}

//
//  Desktop
//  _____________________________________________
@include media-width('min', $screen_m) {
    .leftColumn {
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 16px;
        width: 59%;

        h2 {
            padding-top: 32px;
        }
    }

    .quickAdd {
        [class*='button'] {
            margin-right: 24px;
            width: calc(50% - 24px);
        }
    }

    .toolbar {
        margin-right: -24px;
    }

    .fieldGroup {
        display: flex;

        > * {
            flex-grow: 1;

            + * {
                margin-left: 24px;
            }
        }
    }
}
