@mixin label {
    @include font-size(12);
    font-weight: $font-weight__heavier;
}

@mixin actionsToolbar() {
    display: flex;
    margin-top: 16px;

    > * {
        flex-grow: 1;
    }

    // Mobile
    @include media-width('max', $screen_m) {
        flex-wrap: wrap;

        > * {
            width: 100%;

            + * {
                margin-top: 16px;
            }
        }
    }

    // Desktop
    @include media-width('min', $screen_m) {
        > * {
            + * {
                margin-left: 16px;
            }
        }
    }
}
